In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("amedas_solar_radiation.csv")
df["timestamp"] = pd.to_datetime(df["timestamp"])
df

,area_name_romaji,name_romaji,region,jma_id,timestamp,all_sky_solar_radiation,lat,lon
0,shizuoka_ken,shizuoka,Chubu,5047656,2024-01-01 00:00:00,-777.0,34.975000,138.403333
1,shizuoka_ken,shizuoka,Chubu,5047656,2024-01-01 01:00:00,-777.0,34.975000,138.403333
2,shizuoka_ken,shizuoka,Chubu,5047656,2024-01-01 02:00:00,-777.0,34.975000,138.403333
3,shizuoka_ken,shizuoka,Chubu,5047656,2024-01-01 03:00:00,-777.0,34.975000,138.403333
4,shizuoka_ken,shizuoka,Chubu,5047656,2024-01-01 04:00:00,-777.0,34.975000,138.403333
...,...,...,...,...,...,...,...,...
1201386,shimane_ken,matsue,Chugoku,6847741,2025-12-05 20:00:00,-777.0,35.456667,133.065000
1201387,shimane_ken,matsue,Chugoku,6847741,2025-12-05 21:00:00,-777.0,35.456667,133.065000
1201388,shimane_ken,matsue,Chugoku,6847741,2025-12-05 22:00:00,-777.0,35.456667,133.065000
1201389,shimane_ken,matsue,Chugoku,6847741,2025-12-05 23:00:00,-777.0,35.456667,133.065000
1201390,shimane_ken,matsue,Chugoku,6847741,2025-12-06 00:00:00,-777.0,35.456667,133.065000

In [3]:
df.columns

Index(['area_name_romaji', 'name_romaji', 'region', 'jma_id', 'timestamp',
       'all_sky_solar_radiation', 'lat', 'lon'],
      dtype='object')

In [4]:
temp = df[['area_name_romaji', 'name_romaji', 'lat', 'lon']]
temp = temp.drop_duplicates(subset=['area_name_romaji', 'name_romaji']).reset_index(drop=True)
temp

   area_name_romaji  name_romaji        lat         lon
0      shizuoka_ken     shizuoka  34.975000  138.403333
1         iwate_ken       miyako  39.646667  141.965000
2        kouchi_ken      shimizu  32.721667  133.010000
3          saga_ken         saga  33.265000  130.305000
4      yamagata_ken     yamagata  38.255000  140.345000
..              ...          ...        ...         ...
66    hiroshima_ken    hiroshima  34.398333  132.461667
67         kyoto_fu      maizuru  35.450000  135.316667
68      okinawa_ken  ishigakitou  24.336667  124.163333
69    nemuro_chihou       nemuro  43.330000  145.585000
70      shimane_ken       matsue  35.456667  133.065000

[71 rows x 4 columns]

> Harvesine Distance to calculate distance between two points of lat-lon

> https://www.movable-type.co.uk/scripts/latlong.html

In [5]:
hatsuden = [
  {
    "plant_name": "ＡＯ電力四日市市水沢町太陽光発電所",
    "romaji_name": "Yokkaichi_mizusawacho",
    "latitude": 34.976332,
    "longitude": 136.49064,
    "plant_id": "6n1MrxoRQaox",
    "chiten": "根室"
  },
  {
    "plant_name": "ヨロズ大分 太陽光発電所",
    "romaji_name": "Yorozu_oita",
    "latitude": 33.60104,
    "longitude": 131.24122,
    "plant_id": "mLYOrm0eQPGB",
    "chiten": "大分"
  },
  {
    "plant_name": "ケーヨーデイツー姉崎店太陽光発電設備",
    "romaji_name": "Keiyo_deitsu_anesaki",
    "latitude": 35.4904,
    "longitude": 140.0447,
    "plant_id": "axmXQRm7W4lN",
    "chiten": "東京"
  },
  {
    "plant_name": "根室市花咲港245",
    "romaji_name": "Nemuro_hanasaki",
    "latitude": 43.2946,
    "longitude": 145.5834,
    "plant_id": "D9bmW3VxEYqd"
  }
]

hatsuden = [
  {
    "plant_name": "根室市花咲港245",
    "romaji_name": "Nemuro_hanasaki",
    "latitude": 43.2946,
    "longitude": 145.5834,
    "plant_id": "D9bmW3VxEYqd",
    "chiten": "網走"
  },
  {
    "plant_name": "ケーヨーデイツー姉崎店太陽光発電設備",
    "romaji_name": "Keiyo_deitsu_anesaki",
    "latitude": 35.4904,
    "longitude": 140.0447,
    "plant_id": "axmXQRm7W4lN",
    "chiten": "東京"
  },
  {
    "plant_name": "ヨロズ大分 太陽光発電所",
    "romaji_name": "Yorozu_oita",
    "latitude": 33.60104,
    "longitude": 131.24122,
    "plant_id": "mLYOrm0eQPGB",
    "chiten": "下関"
  },
  {
    "plant_name": "ロジスクエア枚方太陽光発電設備",
    "romaji_name": "Logisquare_hirakata",
    "latitude": 34.8102204,
    "longitude": 135.6825791,
    "plant_id": "gwe9r22drAJV",
    "chiten": "奈良"
  }
]

In [6]:
def euclidian_dist(lat1, lon1, lat2, lon2):
    return ((lat1 - lat2)**2 + (lon1 - lon2)**2) ** 0.5

def harvesine_dist(lat1, lon1, lat2, lon2):
    from math import radians, sin, cos, sqrt, atan2

    R = 6371.0  # Earth radius in kilometers

    dlat = radians(lat2 - lat1)
    dlon = radians(lon2 - lon1)

    a = sin(dlat / 2)**2 + cos(radians(lat1)) * cos(radians(lat2)) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c
    return distance

In [7]:
result = {}
for plant in hatsuden:
    plant_lat = plant["latitude"]
    plant_lon = plant["longitude"]
    temp["dist"] = temp.apply(lambda row: harvesine_dist(plant_lat, plant_lon, row["lat"], row["lon"]), axis=1)
    nearest = temp.loc[temp["dist"].idxmin()]
    result[plant["romaji_name"]] = (nearest['lat'], nearest['lon'])
    print(f"Hatsuden: {plant['romaji_name']} ({plant_lat}, {plant_lon})")
    print(f"Nearest Amedas Station: {nearest['name_romaji']} in {nearest['area_name_romaji']} ({nearest['lat']}, {nearest['lon']})")
    print(f"Distance: {nearest['dist']:.6f} degrees")
    print()

Hatsuden: Nemuro_hanasaki (43.2946, 145.5834)
Nearest Amedas Station: nemuro in nemuro_chihou (43.33, 145.585)
Distance: 3.938428 degrees

Hatsuden: Keiyo_deitsu_anesaki (35.4904, 140.0447)
Nearest Amedas Station: tokyo in tokyo_to (35.69166667, 139.75)
Distance: 34.798695 degrees

Hatsuden: Yorozu_oita (33.60104, 131.24122)
Nearest Amedas Station: shimonoseki in yamaguchi_ken (33.94833333, 130.925)
Distance: 48.430857 degrees

Hatsuden: Logisquare_hirakata (34.8102204, 135.6825791)
Nearest Amedas Station: nara in nara_ken (34.69333333, 135.8266667)
Distance: 18.499159 degrees

In [8]:
result_v2 = {}
for plant in hatsuden:
    plant_lat = plant["latitude"]
    plant_lon = plant["longitude"]
    temp["dist"] = temp.apply(lambda row: harvesine_dist(plant_lat, plant_lon, row["lat"], row["lon"]), axis=1)

    # Check if the current plant is 'Nemuro hanasaki'
    if plant['romaji_name'] == 'Nemuro_hanasaki':
        # --- LOGIC FOR SECOND NEAREST ONLY FOR NEMURO HANASAKI ---
        
        # 1. Get the indices of the 2 smallest distances
        # 2. Select the index of the second smallest distance (.index[1]) <--- FIXED LINE
        nearest_idx = temp["dist"].nsmallest(2).index[1]
        nearest = temp.loc[nearest_idx]
        
        # Store and print the SECOND nearest result_v2
        result_v2[plant["romaji_name"]] = (nearest["lat"], nearest["lon"])
        print(f"Hatsuden: {plant['romaji_name']} ({plant_lat}, {plant_lon})")
        print(f"Second Nearest Amedas Station: {nearest['name_romaji']} in {nearest['area_name_romaji']} ({nearest['lat']}, {nearest['lon']})")
        print(f"Distance: {nearest['dist']:.6f} degrees")
        
    else:
        # --- ORIGINAL LOGIC FOR NEAREST STATION (for all other plants) ---
        nearest = temp.loc[temp["dist"].idxmin()]
        
        # Store and print the NEAREST result_v2
        result_v2[plant["romaji_name"]] = (nearest["lat"], nearest["lon"])
        print(f"Hatsuden: {plant['romaji_name']} ({plant_lat}, {plant_lon})")
        print(f"Nearest Amedas Station: {nearest['name_romaji']} in {nearest['area_name_romaji']} ({nearest['lat']}, {nearest['lon']})")
        print(f"Distance: {nearest['dist']:.6f} degrees")
        
    print()

Hatsuden: Nemuro_hanasaki (43.2946, 145.5834)
Second Nearest Amedas Station: abashiri in abashiri/kitami/monbetsu_chihou (44.01666667, 144.2783333)
Distance: 132.170781 degrees

Hatsuden: Keiyo_deitsu_anesaki (35.4904, 140.0447)
Nearest Amedas Station: tokyo in tokyo_to (35.69166667, 139.75)
Distance: 34.798695 degrees

Hatsuden: Yorozu_oita (33.60104, 131.24122)
Nearest Amedas Station: shimonoseki in yamaguchi_ken (33.94833333, 130.925)
Distance: 48.430857 degrees

Hatsuden: Logisquare_hirakata (34.8102204, 135.6825791)
Nearest Amedas Station: nara in nara_ken (34.69333333, 135.8266667)
Distance: 18.499159 degrees

In [9]:
import numpy as np

result = {'Nemuro_hanasaki': (np.float64(44.01666667), np.float64(144.2783333)),
 'Keiyo_deitsu_anesaki': (np.float64(35.69166667), np.float64(139.75)),
 'Yorozu_oita': (np.float64(33.94833333), np.float64(130.925)),
 'Logisquare_hirakata': (np.float64(34.69333333), np.float64(135.8266667))}

In [10]:
def filter_df_by_coordinates(df: pd.DataFrame, coordinates_dict: dict) -> pd.DataFrame:
    target_coords = list(coordinates_dict.values())

    combined_mask = pd.Series([False] * len(df), index=df.index)
    
    for lat, lon in target_coords:
        target_lat = float(lat)
        target_lon = float(lon)
        
        lat_mask = (df['lat'] == target_lat)
        lon_mask = (df['lon'] == target_lon)
        
        current_mask = lat_mask & lon_mask
        combined_mask = combined_mask | current_mask
        
    filtered_df = df[combined_mask]

    # filter for 2024 only
    filtered_df = filtered_df[filtered_df['timestamp'].dt.year == 2024]
    
    return filtered_df

filtered_data = filter_df_by_coordinates(df, result)
filtered_data.head(3)

,area_name_romaji,name_romaji,region,jma_id,timestamp,all_sky_solar_radiation,lat,lon
389183,abashiri/kitami/monbetsu_chihou,abashiri,Hokkaido,1747409,2024-01-01 00:00:00,-777.0,44.016667,144.278333
389184,abashiri/kitami/monbetsu_chihou,abashiri,Hokkaido,1747409,2024-01-01 01:00:00,-777.0,44.016667,144.278333
389185,abashiri/kitami/monbetsu_chihou,abashiri,Hokkaido,1747409,2024-01-01 02:00:00,-777.0,44.016667,144.278333

In [11]:
t = filtered_data[['timestamp', 
               'area_name_romaji', 'name_romaji', 
               'lat', 'lon', 
               'all_sky_solar_radiation']]

t = t.rename(columns={
    'area_name_romaji': 'nearest_station_area_name_romaji',
    'name_romaji': 'nearest_station_name_romaji',
    'lat': 'nearest_station_lat',
    'lon': 'nearest_station_lon',
    'all_sky_solar_radiation': 'nearest_station_solar_radiation'    
})
t.head(5)

,timestamp,nearest_station_area_name_romaji,nearest_station_name_romaji,nearest_station_lat,nearest_station_lon,nearest_station_solar_radiation
389183,2024-01-01 00:00:00,abashiri/kitami/monbetsu_chihou,abashiri,44.016667,144.278333,-777.0
389184,2024-01-01 01:00:00,abashiri/kitami/monbetsu_chihou,abashiri,44.016667,144.278333,-777.0
389185,2024-01-01 02:00:00,abashiri/kitami/monbetsu_chihou,abashiri,44.016667,144.278333,-777.0
389186,2024-01-01 03:00:00,abashiri/kitami/monbetsu_chihou,abashiri,44.016667,144.278333,-777.0
389187,2024-01-01 04:00:00,abashiri/kitami/monbetsu_chihou,abashiri,44.016667,144.278333,-777.0

In [12]:
import numpy as np

# mapping = {'Nemuro_hanasaki': (np.float64(43.33), np.float64(145.585)),
#  'Keiyo_deitsu_anesaki': (np.float64(35.69166667), np.float64(139.75)),
#  'Yorozu_oita': (np.float64(33.94833333), np.float64(130.925)),
#  'Logisquare_hirakata': (np.float64(34.69333333), np.float64(135.8266667))}

# new
mapping = {'Nemuro_hanasaki': (np.float64(44.01666667), np.float64(144.2783333)),
 'Keiyo_deitsu_anesaki': (np.float64(35.69166667), np.float64(139.75)),
 'Yorozu_oita': (np.float64(33.94833333), np.float64(130.925)),
 'Logisquare_hirakata': (np.float64(34.69333333), np.float64(135.8266667))}

def add_nearest_station_data(row):
    lat = row['nearest_station_lat']
    lon = row['nearest_station_lon']
    for key, (mapped_lat, mapped_lon) in mapping.items():
        if lat == mapped_lat and lon == mapped_lon:
            return key
    return None

In [13]:
t['plant_romaji_name'] = t.apply(add_nearest_station_data, axis=1)
t['nearest_station_solar_radiation'] = t['nearest_station_solar_radiation'].replace(-777.0, 0.0)
t.head()

t['plant_romaji_name'].unique()

array(['Nemuro_hanasaki', 'Logisquare_hirakata', 'Yorozu_oita',
       'Keiyo_deitsu_anesaki'], dtype=object)

# Plot Func

In [14]:
%pip install matplotlib -qqU

Note: you may need to restart the kernel to use updated packages.

In [15]:
%pip install japanize-matplotlib setuptools -qqU

Note: you may need to restart the kernel to use updated packages.

## V2

In [16]:
import matplotlib.pyplot as plt
import base64
import io
from datetime import datetime

def generate_html_report_v2(df, data_columns, hatsuden, output_file='solar_report_v2.html'):
    """
    df: Pandas DataFrame containing the data
    data_columns: List of strings matching column names in df 
                  (e.g. ['nearest_station_solar_radiation', 'solar_radiation_jma', ...])
    """
    
    # Get standard Matplotlib colors for consistency (fallback for other columns)
    default_colors = plt.rcParams['axes.prop_cycle'].by_key()['color']

    # 1. Define Label Mappings (Raw Name -> Display Name)
    label_map = {
        'nearest_station_solar_radiation': 'アメダスの実測値',
        'solar_radiation_jma': '気象庁の予測 (MSM)',
        'solar_radiation_ecmwf': 'ECMWFの予測'
    }

    # 2. Define Color Mappings (Raw Name -> Color)
    # KEYS MUST MATCH DATAFRAME COLUMN NAMES, NOT THE JAPANESE LABELS
    color_map = {
        'nearest_station_solar_radiation': 'gold',  # Amedas -> Yellow (Gold for visibility)
        'solar_radiation_jma': 'blue',              # MSM -> Blue
        'solar_radiation_ecmwf': 'red'              # ECMWF -> Red
    }
    
    # Generate Legend HTML dynamically
    legend_html = ""
    for idx, col_name in enumerate(data_columns):
        # Determine color
        if col_name in color_map:
            color = color_map[col_name]
        else:
            color = default_colors[idx % len(default_colors)]
            
        # Get Display Name
        display_name = label_map.get(col_name, col_name)
        
        # Determine text color for badge (Gold needs dark text)
        text_color = 'black' if color == 'gold' else 'white'
        
        legend_html += f'<span class="badge" style="background:{color}; color:{text_color};">{display_name}</span>'

    # CSS Styling
    html_content = f"""
    <html>
    <head>
        <style>
            body {{ font-family: 'Segoe UI', sans-serif; background: #f4f4f9; padding: 20px; }}
            h1 {{ text-align: center; color: #333; }}
            .month-container {{ background: white; margin-bottom: 30px; padding: 10px; border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); }}
            .month-title {{ font-size: 1.5em; font-weight: bold; color: #444; margin-bottom: 10px; border-bottom: 2px solid #eee; padding-bottom: 5px; }}
            .chart-img {{ width: 100%; height: auto; display: block; }}
            .legend {{ text-align: center; margin-bottom: 20px; position: sticky; top: 0; background: #f4f4f9; padding: 10px; z-index: 100; }}
            .badge {{ display: inline-block; padding: 5px 10px; border-radius: 4px; margin: 0 5px; font-weight: bold; font-size: 0.9em; box-shadow: 0 1px 3px rgba(0,0,0,0.2);}}
        </style>
    </head>
    <body>
        <h1>日射量予測の比較 {hatsuden}</h1>
        <div class="legend">
            {legend_html}
        </div>
    """

    months = df.index.month.unique()
    
    # Calculate global Max Y
    global_max = df[data_columns].max().max() * 1.1

    print("Generating charts...")

    for month in months:
        month_name = datetime(2023, month, 1).strftime('%B')
        print(f"Processing {month_name}...")
        
        df_m = df[df.index.month == month]
        days_in_month = df_m.index.day.unique()
        
        # 2 Rows x 16 Cols Grid
        fig, axes = plt.subplots(2, 16, figsize=(24, 4), constrained_layout=True)
        axes = axes.flatten() 
        
        for i in range(32):
            ax = axes[i]
            day_num = i + 1
            
            if day_num in days_in_month:
                day_data = df_m[df_m.index.day == day_num]
                
                # --- DYNAMIC PLOTTING LOOP ---
                for idx, col_name in enumerate(data_columns):
                    
                    # Defaults
                    linewidth = 1.3
                    alpha = 0.8
                    
                    # 1. Determine Color
                    if col_name in color_map:
                        c = color_map[col_name]
                    else:
                        c = default_colors[idx % len(default_colors)]

                    # 2. Determine Line Style
                    # We check the RAW column name, not the Japanese label
                    if col_name in ['solar_radiation_jma', 'solar_radiation_ecmwf']:
                        linestyle = ':'   # Dotted for forecasts
                        linewidth = 2.0   # Thicker to make dots visible
                        alpha = 1.0       
                    elif col_name == 'nearest_station_solar_radiation':
                        linestyle = '-'   # Solid for Amedas
                        linewidth = 1.5
                    else:
                        linestyle = '--'  # Dashed for unknown columns
                    
                    ax.plot(day_data.index.hour, day_data[col_name], 
                            color=c, label=col_name, linestyle=linestyle, alpha=alpha, linewidth=linewidth)
                
                # Subplot Styling
                ax.set_title(f"Day {day_num}", fontsize=8, pad=2)
                ax.set_ylim(0, global_max)
                ax.set_xlim(0, 23)
                ax.tick_params(axis='both', which='major', labelsize=6)
                ax.grid(True, alpha=0.3)
                
                ax.set_xlabel('') 
                ax.set_ylabel('')
                
                if i % 16 != 0:
                    ax.set_yticklabels([])
            else:
                ax.axis('off')

        # Save to Base64
        buf = io.BytesIO()
        plt.savefig(buf, format='png', dpi=100)
        plt.close(fig)
        buf.seek(0)
        img_base64 = base64.b64encode(buf.read()).decode('utf-8')
        
        html_content += f"""
        <div class="month-container">
            <div class="month-title">{month_name}</div>
            <img class="chart-img" src="data:image/png;base64,{img_base64}" />
        </div>
        """

    html_content += "</body></html>"

    with open(output_file, "w") as f:
        f.write(html_content)
    
    print(f"Success! Open '{output_file}' to view comparison.")

## V3

In [17]:
import matplotlib.pyplot as plt
import base64
import io
from datetime import datetime
import pandas as pd
import numpy as np # Import numpy for absolute difference calculation
import japanize_matplotlib

def generate_html_report_v3(df, data_columns, hatsuden, output_file='solar_report_v2.html'):
    """
    df: Pandas DataFrame containing the data. The index must be datetime-like.
    data_columns: List of strings matching column names in df 
                  (e.g. ['nearest_station_solar_radiation', 'solar_radiation_jma', ...])
    """
    
    # Get standard Matplotlib colors for consistency (fallback for other columns)
    default_colors = plt.rcParams['axes.prop_cycle'].by_key()['color']

    # 1. Define Label Mappings (Raw Name -> Display Name)
    label_map = {
        'nearest_station_solar_radiation': 'アメダスの実測値',
        'solar_radiation_jma': '気象庁の予測 (MSM)',
        'solar_radiation_ecmwf': 'ECMWFの予測'
    }

    # 2. Define Color Mappings (Raw Name -> Color)
    # KEYS MUST MATCH DATAFRAME COLUMN NAMES, NOT THE JAPANESE LABELS
    color_map = {
        'nearest_station_solar_radiation': 'gold',  # Amedas -> Yellow (Gold for visibility)
        'solar_radiation_jma': 'blue',              # MSM -> Blue
        'solar_radiation_ecmwf': 'red'              # ECMWF -> Red
    }
    
    # 3. Identify the 'Ground Truth' for error calculation
    # Assuming 'nearest_station_solar_radiation' is the true value for AME
    # The AME calculation will be skipped if this column is not in data_columns.
    true_col = 'nearest_station_solar_radiation'
    
    # Generate Legend HTML dynamically
    legend_html = ""
    for idx, col_name in enumerate(data_columns):
        # Determine color
        if col_name in color_map:
            color = color_map[col_name]
        else:
            color = default_colors[idx % len(default_colors)]
            
        # Get Display Name
        display_name = label_map.get(col_name, col_name)
        
        # Determine text color for badge (Gold needs dark text)
        text_color = 'black' if color == 'gold' else 'white'
        
        legend_html += f'<span class="badge" style="background:{color}; color:{text_color};">{display_name}</span>'

    # CSS Styling
    html_content = f"""
    <html>
    <head>
        <style>
            body {{ font-family: 'Segoe UI', sans-serif; background: #f4f4f9; padding: 20px; }}
            h1 {{ text-align: center; color: #333; }}
            .month-container {{ background: white; margin-bottom: 30px; padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); }}
            .month-title {{ font-size: 1.8em; font-weight: bold; color: #1e3c72; margin-bottom: 15px; border-bottom: 3px solid #f4f4f9; padding-bottom: 10px; }}
            .chart-img {{ width: 100%; height: auto; display: block; }}
            .legend {{ text-align: center; margin-bottom: 20px; position: sticky; top: 0; background: #f4f4f9; padding: 10px; z-index: 100; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }}
            .badge {{ display: inline-block; padding: 5px 10px; border-radius: 4px; margin: 0 5px; font-weight: bold; font-size: 0.9em; box-shadow: 0 1px 3px rgba(0,0,0,0.2);}}
            .error-section {{ display: flex; flex-direction: column; align-items: center; margin-top: 15px; border: 1px solid #ddd; padding: 10px; border-radius: 6px; background: #fff;}}
            .error-title {{ font-size: 1.2em; font-weight: bold; color: #d9534f; margin-bottom: 10px; }}
            .bar-chart-img {{ width: 80%; max-width: 600px; height: auto; margin-top: 10px; }}
        </style>
    </head>
    <body>
        <h1>日射量予測の比較 {hatsuden}</h1>
        <div class="legend">
            {legend_html}
        </div>
    """

    months = df.index.month.unique()
    
    # Calculate global Max Y for line plots
    global_max = df[data_columns].max().max() * 1.1

    print("Generating charts...")

    for month in months:
        month_name = datetime(2023, month, 1).strftime('%B')
        print(f"Processing {month_name}...")
        
        df_m = df[df.index.month == month]
        days_in_month = df_m.index.day.unique()
        
        # --- 1. AME CALCULATION ---
        ame_results = {}
        forecast_cols = [c for c in data_columns if c != true_col]
        
        # Ensure the true column exists for calculation
        if true_col in data_columns:
            
            # Calculate total AME for the month for each forecast column
            for col_name in forecast_cols:
                # Calculate Absolute Error (AE)
                ae = np.abs(df_m[col_name] - df_m[true_col])
                
                # Calculate Absolute Mean Error (AME)
                # This is the mean of the absolute differences
                ame_value = ae.mean()
                
                # Calculate the percentage error relative to the mean of the true value
                # Using the mean of the true column as the reference value for percentage error
                true_mean = df_m[true_col].mean()
                if true_mean > 0:
                    ame_percentage = (ame_value / true_mean) * 100
                else:
                    ame_percentage = np.nan # Avoid division by zero
                
                ame_results[col_name] = {
                    'ame': ame_value,
                    'percent': ame_percentage
                }
            
            # --- 2. GENERATE BAR PLOT ---
            if ame_results:
                
                # Prepare data for plotting
                ame_df = pd.DataFrame(ame_results).T
                ame_df['label'] = [label_map.get(col, col) for col in ame_df.index]
                ame_df['color'] = [color_map.get(col, 'gray') for col in ame_df.index]
                
                # Create the bar chart
                fig_bar, ax_bar = plt.subplots(figsize=(6, 4))
                
                bars = ax_bar.bar(ame_df['label'], ame_df['percent'], 
                                  color=ame_df['color'], alpha=0.7)
                
                ax_bar.set_title(f'Absolute Mean Error (%) in {month_name}', fontsize=12)
                ax_bar.set_ylabel('AME (%)')
                ax_bar.set_ylim(0, ame_df['percent'].max() * 1.2) # Extend y-limit slightly
                ax_bar.tick_params(axis='x', rotation=0)
                
                # Add the error value above each bar
                for bar in bars:
                    height = bar.get_height()
                    ax_bar.text(bar.get_x() + bar.get_width() / 2., height + 0.5,
                            f'{height:.1f}%',
                            ha='center', va='bottom', fontsize=10, fontweight='bold')
                
                plt.tight_layout()
                
                # Save Bar Plot to Base64
                buf_bar = io.BytesIO()
                plt.savefig(buf_bar, format='png', dpi=150)
                plt.close(fig_bar)
                buf_bar.seek(0)
                img_bar_base64 = base64.b64encode(buf_bar.read()).decode('utf-8')
                
                # Create HTML for the error section
                error_html = f"""
                <div class="error-section">
                    <div class="error-title">月間 絶対平均誤差 (AME) 統計</div>
                    <img class="bar-chart-img" src="data:image/png;base64,{img_bar_base64}" />
                </div>
                """
            else:
                 error_html = "" # No error calculation possible
        else:
            error_html = "<p style='text-align: center; color: red;'>Error calculation requires the column 'nearest_station_solar_radiation' (Ground Truth).</p>"
        
        # --- 3. GENERATE LINE PLOTS (Original Code) ---
        fig, axes = plt.subplots(2, 16, figsize=(24, 4), constrained_layout=True)
        axes = axes.flatten() 
        
        for i in range(32):
            ax = axes[i]
            day_num = i + 1
            
            if day_num in days_in_month:
                day_data = df_m[df_m.index.day == day_num]
                
                # --- DYNAMIC PLOTTING LOOP ---
                for idx, col_name in enumerate(data_columns):
                    
                    # Defaults
                    linewidth = 1.3
                    alpha = 0.8
                    
                    # 1. Determine Color
                    if col_name in color_map:
                        c = color_map[col_name]
                    else:
                        c = default_colors[idx % len(default_colors)]

                    # 2. Determine Line Style
                    # We check the RAW column name, not the Japanese label
                    if col_name in ['solar_radiation_jma', 'solar_radiation_ecmwf']:
                        linestyle = ':'   # Dotted for forecasts
                        linewidth = 2.0   # Thicker to make dots visible
                        alpha = 1.0       
                    elif col_name == 'nearest_station_solar_radiation':
                        linestyle = '-'   # Solid for Amedas
                        linewidth = 1.5
                    else:
                        linestyle = '--'  # Dashed for unknown columns
                    
                    ax.plot(day_data.index.hour, day_data[col_name], 
                            color=c, label=col_name, linestyle=linestyle, alpha=alpha, linewidth=linewidth)
                
                # Subplot Styling
                ax.set_title(f"Day {day_num}", fontsize=8, pad=2)
                ax.set_ylim(0, global_max)
                ax.set_xlim(0, 23)
                ax.tick_params(axis='both', which='major', labelsize=6)
                ax.grid(True, alpha=0.3)
                
                ax.set_xlabel('') 
                ax.set_ylabel('')
                
                if i % 16 != 0:
                    ax.set_yticklabels([])
            else:
                ax.axis('off')

        # Save Line Plots to Base64
        buf = io.BytesIO()
        plt.savefig(buf, format='png', dpi=100)
        plt.close(fig)
        buf.seek(0)
        img_base64 = base64.b64encode(buf.read()).decode('utf-8')
        
        html_content += f"""
        <div class="month-container">
            <div class="month-title">{month_name}</div>
            {error_html}
            <img class="chart-img" src="data:image/png;base64,{img_base64}" />
        </div>
        """

    html_content += "</body></html>"

    with open(output_file, "w") as f:
        f.write(html_content)
    
    print(f"Success! Open '{output_file}' to view comparison.")

## V4

In [18]:
import matplotlib.pyplot as plt
import base64
import io
from datetime import datetime
import pandas as pd
import numpy as np

def generate_html_report_v4(df, data_columns, hatsuden, output_file='solar_report_v2.html'):
    """
    df: Pandas DataFrame containing the data. The index must be datetime-like.
    data_columns: List of strings matching column names in df 
                  (e.g. ['nearest_station_solar_radiation', 'solar_radiation_jma', ...])
    """
    
    # Get standard Matplotlib colors for consistency
    default_colors = plt.rcParams['axes.prop_cycle'].by_key()['color']

    # 1. Define Label Mappings (Raw Name -> Display Name)
    label_map = {
        'nearest_station_solar_radiation': 'アメダスの実測値',
        'solar_radiation_jma': '気象庁の予測 (MSM)',
        'solar_radiation_ecmwf': 'ECMWFの予測'
    }

    # 2. Define Color Mappings (Raw Name -> Color)
    color_map = {
        'nearest_station_solar_radiation': 'gold',
        'solar_radiation_jma': 'blue',
        'solar_radiation_ecmwf': 'red'
    }
    
    # 3. Identify the 'Ground Truth' for error calculation
    true_col = 'nearest_station_solar_radiation'
    forecast_cols = [c for c in data_columns if c != true_col]

    # --- NEW: Data structure to hold all monthly AME results ---
    all_monthly_ame_data = [] 
    
    # Generate Legend HTML dynamically (unchanged)
    legend_html = ""
    for idx, col_name in enumerate(data_columns):
        if col_name in color_map:
            color = color_map[col_name]
        else:
            color = default_colors[idx % len(default_colors)]
            
        display_name = label_map.get(col_name, col_name)
        text_color = 'black' if color == 'gold' else 'white'
        
        legend_html += f'<span class="badge" style="background:{color}; color:{text_color};">{display_name}</span>'

    # CSS Styling
    html_content = f"""
    <html>
    <head>
        <style>
            body {{ font-family: 'Segoe UI', sans-serif; background: #f4f4f9; padding: 20px; }}
            h1 {{ text-align: center; color: #333; }}
            .annual-error-container {{ background: #ffffff; padding: 25px; margin-bottom: 30px; border-radius: 10px; box-shadow: 0 4px 12px rgba(0,0,0,0.15); }}
            .annual-error-title {{ font-size: 1.8em; font-weight: bold; color: #1e3c72; text-align: center; margin-bottom: 20px; border-bottom: 3px solid #eee; padding-bottom: 10px; }}
            .month-container {{ background: white; margin-bottom: 30px; padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); }}
            .month-title {{ font-size: 1.8em; font-weight: bold; color: #1e3c72; margin-bottom: 15px; border-bottom: 3px solid #f4f4f9; padding-bottom: 10px; }}
            .chart-img {{ width: 100%; height: auto; display: block; }}
            .legend {{ text-align: center; margin-bottom: 20px; position: sticky; top: 0; background: #f4f4f9; padding: 10px; z-index: 100; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }}
            .badge {{ display: inline-block; padding: 5px 10px; border-radius: 4px; margin: 0 5px; font-weight: bold; font-size: 0.9em; box-shadow: 0 1px 3px rgba(0,0,0,0.2);}}
        </style>
    </head>
    <body>
        <h1>アメダスとの比較・{hatsuden}</h1>
        <div class="legend">
            {legend_html}
        </div>
    """

    months = df.index.month.unique()
    global_max = df[data_columns].max().max() * 1.1

    print("Generating charts and calculating monthly errors...")

    # --- 1. Loop through months to generate daily plots AND collect AME data ---
    for month in months:
        month_name = datetime(2023, month, 1).strftime('%B')
        print(f"Processing {month_name}...")
        
        df_m = df[df.index.month == month]
        days_in_month = df_m.index.day.unique()
        
        # --- AME CALCULATION ---
        if true_col in data_columns and len(forecast_cols) > 0:
            
            # --- NEW STEP: Filter for non-null values in the relevant columns ---
            # Create a list of columns needed for error calculation (True Col + current Forecast Col)
            calculation_cols = [true_col] + forecast_cols
            
            # Drop rows where ANY required column is null for this month
            df_calc = df_m[calculation_cols].dropna() 
            
            # Check if there's any data remaining after dropping nulls
            if df_calc.empty:
                print(f"Warning: Skipping AME calculation for {month_name}. No complete data points found.")
                continue

            # Calculate the true mean ONLY on the non-null data
            true_mean = df_calc[true_col].mean()

            if true_mean > 0:
                for col_name in forecast_cols:
                    
                    # The DataFrame df_calc is already guaranteed not to have nulls in col_name or true_col
                    
                    # Calculate Absolute Error (AE)
                    # ae is a Series containing the absolute difference for all non-null time steps
                    ae = np.abs(df_calc[col_name] - df_calc[true_col])
                    
                    # Calculate Absolute Mean Error (AME)
                    ame_value = ae.mean() # This mean is now only over non-null points
                    
                    # Calculate the percentage error 
                    ame_percentage = (ame_value / true_mean) * 100
                    
                    # Store the result for the annual plot
                    all_monthly_ame_data.append({
                        'Month': month,
                        'Model': label_map.get(col_name, col_name),
                        'Error_Percent': ame_percentage,
                        'Raw_Col': col_name
                    })
            else:
                 print(f"Warning: Skipping AME percentage calculation for {month_name}. Mean of true value is zero.")
        
        # --- GENERATE DAILY LINE PLOTS (as before) ---
        fig, axes = plt.subplots(2, 16, figsize=(24, 4), constrained_layout=True)
        axes = axes.flatten() 
        
        for i in range(32):
            ax = axes[i]
            day_num = i + 1
            
            if day_num in days_in_month:
                day_data = df_m[df_m.index.day == day_num]
                
                # Dynamic plotting loop (unchanged)
                for idx, col_name in enumerate(data_columns):
                    linewidth = 1.3
                    alpha = 0.8
                    
                    if col_name in color_map:
                        c = color_map[col_name]
                    else:
                        c = default_colors[idx % len(default_colors)]

                    if col_name in ['solar_radiation_jma', 'solar_radiation_ecmwf']:
                        linestyle = ':'
                        linewidth = 2.0
                        alpha = 1.0       
                    elif col_name == 'nearest_station_solar_radiation':
                        linestyle = '-'
                        linewidth = 1.5
                    else:
                        linestyle = '--'
                    
                    ax.plot(day_data.index.hour, day_data[col_name], 
                            color=c, label=col_name, linestyle=linestyle, alpha=alpha, linewidth=linewidth)
                
                # Subplot Styling (unchanged)
                ax.set_title(f"Day {day_num}", fontsize=8, pad=2)
                ax.set_ylim(0, global_max)
                ax.set_xlim(0, 23)
                ax.tick_params(axis='both', which='major', labelsize=6)
                ax.grid(True, alpha=0.3)
                ax.set_xlabel('') 
                ax.set_ylabel('')
                if i % 16 != 0:
                    ax.set_yticklabels([])
            else:
                ax.axis('off')

        # Save Line Plots to Base64 (unchanged)
        buf = io.BytesIO()
        plt.savefig(buf, format='png', dpi=100)
        plt.close(fig)
        buf.seek(0)
        img_base64 = base64.b64encode(buf.read()).decode('utf-8')
        
        html_content += f"""
        <div class="month-container">
            <div class="month-title">{month_name}</div>
            <img class="chart-img" src="data:image/png;base64,{img_base64}" />
        </div>
        """

    # ----------------------------------------------------
    # --- 2. GENERATE SINGLE ANNUAL GROUPED BAR PLOT ---
    # ----------------------------------------------------
    annual_error_html = ""

    if all_monthly_ame_data:
        annual_df = pd.DataFrame(all_monthly_ame_data)
        
        # Determine the unique models (forecast_cols)
        models = annual_df['Raw_Col'].unique()
        
        # Use month names for x-axis
        month_labels = [datetime(2023, m, 1).strftime('%b') for m in sorted(annual_df['Month'].unique())]
        
        # Set up the figure for the grouped bar plot
        fig_annual, ax_annual = plt.subplots(figsize=(12, 6))
        
        # Calculate bar widths and positions
        num_models = len(models)
        bar_width = 0.8 / num_models
        x = np.arange(len(month_labels)) # x-axis ticks for month groups
        
        # Plot each model's error for all months
        for i, raw_col in enumerate(models):
            # Filter data for the current model and sort by month
            model_data = annual_df[annual_df['Raw_Col'] == raw_col].sort_values(by='Month')
            
            # Calculate the position for the current set of bars
            # Centers the group and offsets each bar within the group
            offset = (i - (num_models - 1) / 2) * bar_width
            
            bars = ax_annual.bar(x + offset, model_data['Error_Percent'], 
                                 bar_width, 
                                 label=label_map.get(raw_col, raw_col),
                                 color=color_map.get(raw_col, 'gray'), 
                                 alpha=0.8)
            
            # Add the error value above each bar
            for bar in bars:
                height = bar.get_height()
                ax_annual.text(bar.get_x() + bar.get_width() / 2., height + 0.5,
                        f'{height:.1f}',
                        ha='center', va='bottom', fontsize=7.5)


        ax_annual.set_title('Annual Comparison of Absolute Mean Error (%)', fontsize=14, fontweight='bold')
        ax_annual.set_ylabel('Absolute Mean Error (%)')
        ax_annual.set_xticks(x)
        ax_annual.set_xticklabels(month_labels)
        ax_annual.legend(loc='upper right')
        ax_annual.grid(axis='y', linestyle='--', alpha=0.5)
        ax_annual.set_ylim(0, annual_df['Error_Percent'].max() * 1.2)
        
        plt.tight_layout()
        
        # Save Annual Plot to Base64
        buf_annual = io.BytesIO()
        plt.savefig(buf_annual, format='png', dpi=150)
        plt.close(fig_annual)
        buf_annual.seek(0)
        img_annual_base64 = base64.b64encode(buf_annual.read()).decode('utf-8')
        
        # Create HTML for the annual error section
        annual_error_html = f"""
        <div class="annual-error-container">
            <div class="annual-error-title">Error</div>
            <img class="chart-img" src="data:image/png;base64,{img_annual_base64}" />
        </div>
        """
    else:
        annual_error_html = "<p style='text-align: center; color: red;'>Annual error calculation requires the column 'nearest_station_solar_radiation' (Ground Truth).</p>"
        
    # --- 3. FINAL HTML ASSEMBLY ---
    
    # Insert the annual error plot at the top, just after the legend
    html_content = html_content.replace('</div>', f'</div>\n{annual_error_html}', 1) # Insert after the legend div
    
    html_content += "</body></html>"

    with open(output_file, "w") as f:
        f.write(html_content)
    
    print(f"Success! Open '{output_file}' to view comparison, including the annual error chart.")

In [19]:
def convert_mj_to_wm2(df):
    # Convert from MJ/m² to W/m²
    df_converted = df.copy()
    df_converted['nearest_station_solar_radiation'] = df_converted['nearest_station_solar_radiation'] * (1e6 / 3600)  # 1 MJ/m² = 1,000,000 J/m²; divide by 3600 seconds in an hour
    return df_converted

# JMA Data

In [20]:
jma_df = pd.read_csv("data/jma_msm_data_2024.csv")
jma_df = jma_df.rename(columns={
    'shortwave_solar_radiation': 'solar_radiation',
    'date': 'timestamp',
    'romaji_name': 'plant_romaji_name'
})
jma_df['timestamp'] = pd.to_datetime(jma_df['timestamp'])   
jma_df.head()

            timestamp  solar_radiation plant_name plant_romaji_name
0 2024-01-01 00:00:00              0.0  根室市花咲港245   Nemuro_hanasaki
1 2024-01-01 01:00:00              0.0  根室市花咲港245   Nemuro_hanasaki
2 2024-01-01 02:00:00              0.0  根室市花咲港245   Nemuro_hanasaki
3 2024-01-01 03:00:00              0.0  根室市花咲港245   Nemuro_hanasaki
4 2024-01-01 04:00:00              0.0  根室市花咲港245   Nemuro_hanasaki

In [21]:
compare_jma = pd.merge(
    t,
    jma_df,
    left_on=['timestamp', 'plant_romaji_name'],
    right_on=['timestamp', 'plant_romaji_name'],
    how='inner'
)

compare_jma = convert_mj_to_wm2(compare_jma)
compare_jma.set_index('timestamp', inplace=True)
compare_jma['plant_name'].head(3)

timestamp
2024-01-01 00:00:00    根室市花咲港245
2024-01-01 01:00:00    根室市花咲港245
2024-01-01 02:00:00    根室市花咲港245
Name: plant_name, dtype: object

In [22]:
data_columns = ['nearest_station_solar_radiation', 'solar_radiation']

for plant_name in compare_jma['plant_romaji_name'].unique():
    print(f"Generating report for plant: {plant_name}")
    plant_data = compare_jma[compare_jma['plant_romaji_name'] == plant_name]
    # generate_html_report(plant_data, data_columns, hatsuden=plant_name, model='JMA', output_file=f'solar_report_jma_{plant_name}.html')
    # generate_html_report_plotly(plant_data, data_columns, output_file=f'solar_report_plotly_jma_{plant_name}.html')

Generating report for plant: Nemuro_hanasaki
Generating report for plant: Logisquare_hirakata
Generating report for plant: Yorozu_oita
Generating report for plant: Keiyo_deitsu_anesaki

# ECMWF Data

In [23]:
ecmwf_df = pd.read_csv("data/ecmwf_ifs_data_2024.csv")
ecmwf_df = ecmwf_df.rename(columns={
    'shortwave_solar_radiation': 'solar_radiation',
    'date': 'timestamp',
    'romaji_name': 'plant_romaji_name'
})
ecmwf_df['timestamp'] = pd.to_datetime(ecmwf_df['timestamp'])   
ecmwf_df.head()

            timestamp  solar_radiation plant_name plant_romaji_name
0 2024-01-01 00:00:00              0.0  根室市花咲港245   Nemuro_hanasaki
1 2024-01-01 01:00:00              0.0  根室市花咲港245   Nemuro_hanasaki
2 2024-01-01 02:00:00              0.0  根室市花咲港245   Nemuro_hanasaki
3 2024-01-01 03:00:00              0.0  根室市花咲港245   Nemuro_hanasaki
4 2024-01-01 04:00:00              0.0  根室市花咲港245   Nemuro_hanasaki

In [24]:
compare_ecmwf = pd.merge(
    t,
    ecmwf_df,
    left_on=['timestamp', 'plant_romaji_name'],
    right_on=['timestamp', 'plant_romaji_name'],
    how='inner'
)
compare_ecmwf = convert_mj_to_wm2(compare_ecmwf)
compare_ecmwf.set_index('timestamp', inplace=True)
compare_ecmwf.head(3)

,nearest_station_area_name_romaji,nearest_station_name_romaji,nearest_station_lat,nearest_station_lon,nearest_station_solar_radiation,plant_romaji_name,solar_radiation,plant_name
timestamp,,,,,,,,
2024-01-01 00:00:00,abashiri/kitami/monbetsu_chihou,abashiri,44.016667,144.278333,0.0,Nemuro_hanasaki,0.0,根室市花咲港245
2024-01-01 01:00:00,abashiri/kitami/monbetsu_chihou,abashiri,44.016667,144.278333,0.0,Nemuro_hanasaki,0.0,根室市花咲港245
2024-01-01 02:00:00,abashiri/kitami/monbetsu_chihou,abashiri,44.016667,144.278333,0.0,Nemuro_hanasaki,0.0,根室市花咲港245

In [25]:
data_columns = ['nearest_station_solar_radiation', 'solar_radiation']

for plant_name in compare_ecmwf['plant_romaji_name'].unique():
    print(f"Generating report for plant: {plant_name}")
    plant_data = compare_ecmwf[compare_ecmwf['plant_romaji_name'] == plant_name]
    # generate_html_report(plant_data, data_columns, hatsuden=plant_name, model='ECMWF', output_file=f'solar_report_ecmf_{plant_name}.html')
    # generate_html_report_plotly(plant_data, data_columns, output_file=f'solar_report_plotly_ecmf_{plant_name}.html')

Generating report for plant: Nemuro_hanasaki
Generating report for plant: Logisquare_hirakata
Generating report for plant: Yorozu_oita
Generating report for plant: Keiyo_deitsu_anesaki

# Merge All

In [26]:
compare_jma.head(1)

,nearest_station_area_name_romaji,nearest_station_name_romaji,nearest_station_lat,nearest_station_lon,nearest_station_solar_radiation,plant_romaji_name,solar_radiation,plant_name
timestamp,,,,,,,,
2024-01-01,abashiri/kitami/monbetsu_chihou,abashiri,44.016667,144.278333,0.0,Nemuro_hanasaki,0.0,根室市花咲港245

In [27]:
compare_ecmwf.head(1)

,nearest_station_area_name_romaji,nearest_station_name_romaji,nearest_station_lat,nearest_station_lon,nearest_station_solar_radiation,plant_romaji_name,solar_radiation,plant_name
timestamp,,,,,,,,
2024-01-01,abashiri/kitami/monbetsu_chihou,abashiri,44.016667,144.278333,0.0,Nemuro_hanasaki,0.0,根室市花咲港245

In [28]:
merged = pd.merge(
    compare_jma.reset_index(),
    compare_ecmwf.reset_index(),
    on=['timestamp', 'plant_name', 'plant_romaji_name', 'nearest_station_area_name_romaji', 'nearest_station_name_romaji', 'nearest_station_lat', 'nearest_station_lon', 'nearest_station_solar_radiation'],
    suffixes=('_jma', '_ecmwf')
)
merged.set_index('timestamp', inplace=True)
merged.head(3)

,nearest_station_area_name_romaji,nearest_station_name_romaji,nearest_station_lat,nearest_station_lon,nearest_station_solar_radiation,plant_romaji_name,solar_radiation_jma,plant_name,solar_radiation_ecmwf
timestamp,,,,,,,,,
2024-01-01 00:00:00,abashiri/kitami/monbetsu_chihou,abashiri,44.016667,144.278333,0.0,Nemuro_hanasaki,0.0,根室市花咲港245,0.0
2024-01-01 01:00:00,abashiri/kitami/monbetsu_chihou,abashiri,44.016667,144.278333,0.0,Nemuro_hanasaki,0.0,根室市花咲港245,0.0
2024-01-01 02:00:00,abashiri/kitami/monbetsu_chihou,abashiri,44.016667,144.278333,0.0,Nemuro_hanasaki,0.0,根室市花咲港245,0.0

In [29]:
mapping = {
    'Nemuro_hanasaki': "網走",
    'Keiyo_deitsu_anesaki': "東京",
    'Yorozu_oita': "下関",
    'Logisquare_hirakata': "奈良"
}

In [ ]:
data_columns = ['nearest_station_solar_radiation', 'solar_radiation_jma', 'solar_radiation_ecmwf']

for plant_name in merged['plant_romaji_name'].unique():
    print(f"Generating report for plant: {plant_name}")
    plant_data = merged[merged['plant_romaji_name'] == plant_name]
    # generate_html_report_v2(plant_data, data_columns, hatsuden=mapping[plant_name], output_file=f'amedas-solar_{plant_name}.html')
    # generate_html_report_plotly(plant_data, data_columns, output_file=f'solar_report_plotly_ecmf_{plant_name}.html')

Generating report for plant: Nemuro_hanasaki
Generating charts...
Processing January...
Processing February...
Processing March...
Processing April...
Processing May...
Processing June...
Processing July...
Processing August...
Processing September...
Processing October...
Processing November...
Processing December...
Success! Open 'amedas-solar_Nemuro_hanasaki.html' to view comparison.
Generating report for plant: Logisquare_hirakata
Generating charts...
Processing January...
Processing February...
Processing March...
Processing April...
Processing May...
Processing June...
Processing July...
Processing August...
Processing September...
Processing October...
Processing November...
Processing December...
Success! Open 'amedas-solar_Logisquare_hirakata.html' to view comparison.
Generating report for plant: Yorozu_oita
Generating charts...
Processing January...
Processing February...
Processing March...
Processing April...
Processing May...
Processing June...
Processing July...
Processing August...
Processing September...
Processing October...
Processing November...
Processing December...
Success! Open 'amedas-solar_Yorozu_oita.html' to view comparison.
Generating report for plant: Keiyo_deitsu_anesaki
Generating charts...
Processing January...
Processing February...
Processing March...
Processing April...
Processing May...
Processing June...
Processing July...
Processing August...
Processing September...
Processing October...
Processing November...
Processing December...
Success! Open 'amedas-solar_Keiyo_deitsu_anesaki.html' to view comparison.

In [31]:
data_columns = ['nearest_station_solar_radiation', 'solar_radiation_jma', 'solar_radiation_ecmwf']

for plant_name in merged['plant_romaji_name'].unique():
    print(f"Generating report for plant: {plant_name}")
    plant_data = merged[merged['plant_romaji_name'] == plant_name]
    generate_html_report_v4(plant_data, data_columns, hatsuden=mapping[plant_name], output_file=f'amedas-solar_{plant_name}.html')

Generating report for plant: Nemuro_hanasaki
Generating charts and calculating monthly errors...
Processing January...
Processing February...
Processing March...
Processing April...
Processing May...
Processing June...
Processing July...
Processing August...
Processing September...
Processing October...
Processing November...
Processing December...
Success! Open 'amedas-solar_Nemuro_hanasaki.html' to view comparison, including the annual error chart.
Generating report for plant: Logisquare_hirakata
Generating charts and calculating monthly errors...
Processing January...
Processing February...
Processing March...
Processing April...
Processing May...
Processing June...
Processing July...
Processing August...
Processing September...
Processing October...
Processing November...
Processing December...
Success! Open 'amedas-solar_Logisquare_hirakata.html' to view comparison, including the annual error chart.
Generating report for plant: Yorozu_oita
Generating charts and calculating monthly errors...
Processing January...
Processing February...
Processing March...
Processing April...
Processing May...
Processing June...
Processing July...
Processing August...
Processing September...
Processing October...
Processing November...
Processing December...
Success! Open 'amedas-solar_Yorozu_oita.html' to view comparison, including the annual error chart.
Generating report for plant: Keiyo_deitsu_anesaki
Generating charts and calculating monthly errors...
Processing January...
Processing February...
Processing March...
Processing April...
Processing May...
Processing June...
Processing July...
Processing August...
Processing September...
Processing October...
Processing November...
Processing December...
Success! Open 'amedas-solar_Keiyo_deitsu_anesaki.html' to view comparison, including the annual error chart.