In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("amedas.csv")
df["datetime"] = pd.to_datetime(df["datetime"])
df

/var/folders/nc/45xk968j0m15_nzrz66sp1c00000gp/T/ipykernel_94783/2126367410.py:1: DtypeWarning: Columns (23,28,29,31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("amedas.csv")

,jma_id,area_name_romaji,name_romaji,lat,lon,tablename,operation_start_at,temperature_db,latest_hourly_data_inserted_at,region,...,snow_fall,snow_cover,weather,cloud_cover,visibility,weather_en,temperature_updated,prec_no,block_no,level_0
0,8447817,nagasaki_ken,nagasaki,32.733333,129.866667,nagasaki_nagasaki,1976-01-01,1,2025-12-04 21:29:08.067766+00:00,Kyushu,...,-999.0,-999.0,NaN,NaN,20.0,NaN,9.1,84,47817,NaN
1,8447817,nagasaki_ken,nagasaki,32.733333,129.866667,nagasaki_nagasaki,1976-01-01,1,2025-12-04 21:29:08.067766+00:00,Kyushu,...,-999.0,-999.0,NaN,NaN,20.0,NaN,9.1,84,47817,NaN
2,8447817,nagasaki_ken,nagasaki,32.733333,129.866667,nagasaki_nagasaki,1976-01-01,1,2025-12-04 21:29:08.067766+00:00,Kyushu,...,-999.0,-999.0,NaN,NaN,20.0,NaN,8.9,84,47817,NaN
3,8447817,nagasaki_ken,nagasaki,32.733333,129.866667,nagasaki_nagasaki,1976-01-01,1,2025-12-04 21:29:08.067766+00:00,Kyushu,...,-999.0,-999.0,NaN,NaN,20.0,NaN,8.0,84,47817,NaN
4,8447817,nagasaki_ken,nagasaki,32.733333,129.866667,nagasaki_nagasaki,1976-01-01,1,2025-12-04 21:29:08.067766+00:00,Kyushu,...,-999.0,-999.0,NaN,NaN,20.0,NaN,7.5,84,47817,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21763307,231462,oshima_chihou,takamatsu,41.770000,140.821667,oshima_takamatsu,2003-01-01,1,2025-12-04 21:41:21.849828+00:00,Hokkaido,...,1.0,13.0,NaN,NaN,NaN,NaN,-3.3,23,1462,NaN
21763308,231462,oshima_chihou,takamatsu,41.770000,140.821667,oshima_takamatsu,2003-01-01,1,2025-12-04 21:41:21.849828+00:00,Hokkaido,...,0.0,13.0,NaN,NaN,NaN,NaN,-3.0,23,1462,NaN
21763309,231462,oshima_chihou,takamatsu,41.770000,140.821667,oshima_takamatsu,2003-01-01,1,2025-12-04 21:41:21.849828+00:00,Hokkaido,...,1.0,14.0,NaN,NaN,NaN,NaN,-2.9,23,1462,NaN
21763310,231462,oshima_chihou,takamatsu,41.770000,140.821667,oshima_takamatsu,2003-01-01,1,2025-12-04 21:41:21.849828+00:00,Hokkaido,...,1.0,15.0,NaN,NaN,NaN,NaN,-2.6,23,1462,NaN
21763311,231462,oshima_chihou,takamatsu,41.770000,140.821667,oshima_takamatsu,2003-01-01,1,2025-12-04 21:41:21.849828+00:00,Hokkaido,...,2.0,17.0,NaN,NaN,NaN,NaN,-1.4,23,1462,NaN

In [3]:
df.columns

Index(['jma_id', 'area_name_romaji', 'name_romaji', 'lat', 'lon', 'tablename',
       'operation_start_at', 'temperature_db',
       'latest_hourly_data_inserted_at', 'region', 'datetime', 'year', 'month',
       'day', 'hour', 'atmospheric_pressure_land',
       'atmospheric_pressure_sea_level', 'precipitation', 'temperature_fth',
       'dew_point_temperature', 'vapor_pressure', 'humidity', 'wind_speed',
       'wind_direction', 'sunlight_hours', 'all_sky_solar_radiation',
       'snow_fall', 'snow_cover', 'weather', 'cloud_cover', 'visibility',
       'weather_en', 'temperature_updated', 'prec_no', 'block_no', 'level_0'],
      dtype='object')

In [4]:
hatsuden = [
  {
    "plant_name": "ＡＯ電力津市安濃町太陽光発電所",
    "romaji_name": "Tsushi",
    "latitude": 34.7739640171019,
    "longitude": 136.467498739582
  },
  {
    "plant_name": "ＡＯ電力四日市市水沢町太陽光発電所",
    "romaji_name": "Yokkaichi",
    "latitude": 34.976332,
    "longitude": 136.49064
  },
  {
    "plant_name": "ケーヨーデイツー姉崎店太陽光発電設備",
    "romaji_name": "Anesaki",
    "latitude": 35.4904,
    "longitude": 140.0447
  },
  {
    "plant_name": "根室市花咲港245",
    "romaji_name": "Nemuro",
    "latitude": 43.2946,
    "longitude": 145.5834
  }
]

In [5]:
temp = df[['area_name_romaji', 'name_romaji', 'lat', 'lon']]
temp = temp.drop_duplicates(subset=['area_name_romaji', 'name_romaji']).reset_index(drop=True)
temp

     area_name_romaji  name_romaji        lat         lon
0        nagasaki_ken     nagasaki  32.733333  129.866667
1           shiga_ken  higashioumi  35.061667  136.190000
2            osaka_fu        osaka  34.681667  135.518333
3       hiroshima_ken        ooasa  34.768333  132.463333
4           ooita_ken        kamae  32.795000  131.923333
...               ...          ...        ...         ...
1283        akita_ken   kakunodate  39.603333  140.556667
1284     iburi_chihou      oogishi  42.590000  140.643333
1285       miyagi_ken     shinkawa  38.303333  140.636667
1286        iwate_ken   ichinoseki  38.933333  141.125000
1287    oshima_chihou    takamatsu  41.770000  140.821667

[1288 rows x 4 columns]

> Harvesine Distance to calculate distance between two points of lat-lon

> https://www.movable-type.co.uk/scripts/latlong.html

In [6]:
def euclidian_dist(lat1, lon1, lat2, lon2):
    return ((lat1 - lat2)**2 + (lon1 - lon2)**2) ** 0.5

def harvesine_dist(lat1, lon1, lat2, lon2):
    from math import radians, sin, cos, sqrt, atan2

    R = 6371.0  # Earth radius in kilometers

    dlat = radians(lat2 - lat1)
    dlon = radians(lon2 - lon1)

    a = sin(dlat / 2)**2 + cos(radians(lat1)) * cos(radians(lat2)) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c
    return distance

In [7]:
for plant in hatsuden:
    plant_lat = plant["latitude"]
    plant_lon = plant["longitude"]
    temp["dist"] = temp.apply(lambda row: harvesine_dist(plant_lat, plant_lon, row["lat"], row["lon"]), axis=1)
    nearest = temp.loc[temp["dist"].idxmin()]
    print(f"Plant: {plant['plant_name']}")
    print(f"Nearest Amedas Station: {nearest['name_romaji']} in {nearest['area_name_romaji']}")
    print(f"Distance: {nearest['dist']:.6f} degrees")
    print()

Plant: ＡＯ電力津市安濃町太陽光発電所
Nearest Amedas Station: tsu in mie_ken
Distance: 6.479210 degrees

Plant: ＡＯ電力四日市市水沢町太陽光発電所
Nearest Amedas Station: yokkaichi in mie_ken
Distance: 9.090583 degrees

Plant: ケーヨーデイツー姉崎店太陽光発電設備
Nearest Amedas Station: chiba in chiba_ken
Distance: 13.461577 degrees

Plant: 根室市花咲港245
Nearest Amedas Station: nemuro in nemuro_chihou
Distance: 3.938428 degrees

In [8]:
for plant in hatsuden:
    plant_lat = plant["latitude"]
    plant_lon = plant["longitude"]
    temp["dist"] = temp.apply(lambda row: euclidian_dist(plant_lat, plant_lon, row["lat"], row["lon"]), axis=1)
    nearest = temp.loc[temp["dist"].idxmin()]
    print(f"Plant: {plant['plant_name']}")
    print(f"Nearest Amedas Station: {nearest['name_romaji']} in {nearest['area_name_romaji']}")
    print(f"Distance: {nearest['dist']:.6f} degrees")
    print()

Plant: ＡＯ電力津市安濃町太陽光発電所
Nearest Amedas Station: tsu in mie_ken
Distance: 0.065077 degrees

Plant: ＡＯ電力四日市市水沢町太陽光発電所
Nearest Amedas Station: yokkaichi in mie_ken
Distance: 0.096464 degrees

Plant: ケーヨーデイツー姉崎店太陽光発電設備
Nearest Amedas Station: chiba in chiba_ken
Distance: 0.125770 degrees

Plant: 根室市花咲港245
Nearest Amedas Station: nemuro in nemuro_chihou
Distance: 0.035436 degrees

In [9]:
%pip install plotly -qqU

Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd
import plotly.express as px

def plot_temperature_time_series(df: pd.DataFrame):
    fig = px.line(
        df,
        x='timestamp',
        y='temperature',
        color='region',  # Separates lines by region
        title='Temperature Over Time by Region',
        labels={
            'timestamp': 'Time',
            'temperature': 'Temperature ($^\circ$C)',
            'region': 'Region'
        }
    )

    fig.update_layout(
        xaxis_title='Time',
        yaxis_title='Temperature ($^\circ$C)',
        legend_title='Region',
        hovermode='x unified'
    )
    
    fig.show() 

plot_temperature_time_series(df)

<>:13: SyntaxWarning: invalid escape sequence '\c'
<>:20: SyntaxWarning: invalid escape sequence '\c'
<>:13: SyntaxWarning: invalid escape sequence '\c'
<>:20: SyntaxWarning: invalid escape sequence '\c'
/var/folders/nc/45xk968j0m15_nzrz66sp1c00000gp/T/ipykernel_94783/58924688.py:13: SyntaxWarning: invalid escape sequence '\c'
  'temperature': 'Temperature ($^\circ$C)',
/var/folders/nc/45xk968j0m15_nzrz66sp1c00000gp/T/ipykernel_94783/58924688.py:20: SyntaxWarning: invalid escape sequence '\c'
  yaxis_title='Temperature ($^\circ$C)',
/var/folders/nc/45xk968j0m15_nzrz66sp1c00000gp/T/ipykernel_94783/58924688.py:13: SyntaxWarning: invalid escape sequence '\c'
  'temperature': 'Temperature ($^\circ$C)',
/var/folders/nc/45xk968j0m15_nzrz66sp1c00000gp/T/ipykernel_94783/58924688.py:20: SyntaxWarning: invalid escape sequence '\c'
  yaxis_title='Temperature ($^\circ$C)',

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['jma_id', 'area_name_romaji', 'name_romaji', 'lat', 'lon', 'tablename', 'operation_start_at', 'temperature_db', 'latest_hourly_data_inserted_at', 'region', 'datetime', 'year', 'month', 'day', 'hour', 'atmospheric_pressure_land', 'atmospheric_pressure_sea_level', 'precipitation', 'temperature_fth', 'dew_point_temperature', 'vapor_pressure', 'humidity', 'wind_speed', 'wind_direction', 'sunlight_hours', 'all_sky_solar_radiation', 'snow_fall', 'snow_cover', 'weather', 'cloud_cover', 'visibility', 'weather_en', 'temperature_updated', 'prec_no', 'block_no', 'level_0'] but received: timestamp