In [134]:
import pandas as pd

In [135]:
df = pd.read_csv("amedas_solar_radiation.csv")
df["timestamp"] = pd.to_datetime(df["timestamp"])
df

,area_name_romaji,name_romaji,region,jma_id,timestamp,all_sky_solar_radiation,lat,lon
0,shizuoka_ken,shizuoka,Chubu,5047656,2024-01-01 00:00:00,-777.0,34.975000,138.403333
1,shizuoka_ken,shizuoka,Chubu,5047656,2024-01-01 01:00:00,-777.0,34.975000,138.403333
2,shizuoka_ken,shizuoka,Chubu,5047656,2024-01-01 02:00:00,-777.0,34.975000,138.403333
3,shizuoka_ken,shizuoka,Chubu,5047656,2024-01-01 03:00:00,-777.0,34.975000,138.403333
4,shizuoka_ken,shizuoka,Chubu,5047656,2024-01-01 04:00:00,-777.0,34.975000,138.403333
...,...,...,...,...,...,...,...,...
1201386,shimane_ken,matsue,Chugoku,6847741,2025-12-05 20:00:00,-777.0,35.456667,133.065000
1201387,shimane_ken,matsue,Chugoku,6847741,2025-12-05 21:00:00,-777.0,35.456667,133.065000
1201388,shimane_ken,matsue,Chugoku,6847741,2025-12-05 22:00:00,-777.0,35.456667,133.065000
1201389,shimane_ken,matsue,Chugoku,6847741,2025-12-05 23:00:00,-777.0,35.456667,133.065000
1201390,shimane_ken,matsue,Chugoku,6847741,2025-12-06 00:00:00,-777.0,35.456667,133.065000

In [136]:
df.columns

Index(['area_name_romaji', 'name_romaji', 'region', 'jma_id', 'timestamp',
       'all_sky_solar_radiation', 'lat', 'lon'],
      dtype='object')

In [137]:
temp = df[['area_name_romaji', 'name_romaji', 'lat', 'lon']]
temp = temp.drop_duplicates(subset=['area_name_romaji', 'name_romaji']).reset_index(drop=True)
temp

   area_name_romaji  name_romaji        lat         lon
0      shizuoka_ken     shizuoka  34.975000  138.403333
1         iwate_ken       miyako  39.646667  141.965000
2        kouchi_ken      shimizu  32.721667  133.010000
3          saga_ken         saga  33.265000  130.305000
4      yamagata_ken     yamagata  38.255000  140.345000
..              ...          ...        ...         ...
66    hiroshima_ken    hiroshima  34.398333  132.461667
67         kyoto_fu      maizuru  35.450000  135.316667
68      okinawa_ken  ishigakitou  24.336667  124.163333
69    nemuro_chihou       nemuro  43.330000  145.585000
70      shimane_ken       matsue  35.456667  133.065000

[71 rows x 4 columns]

> Harvesine Distance to calculate distance between two points of lat-lon

> https://www.movable-type.co.uk/scripts/latlong.html

In [138]:
hatsuden = [
  {
    "plant_name": "ＡＯ電力四日市市水沢町太陽光発電所",
    "romaji_name": "Yokkaichi_mizusawacho",
    "latitude": 34.976332,
    "longitude": 136.49064,
    "plant_id": "6n1MrxoRQaox"
  },
  {
    "plant_name": "ヨロズ大分 太陽光発電所",
    "romaji_name": "Yorozu_oita",
    "latitude": 33.60104,
    "longitude": 131.24122,
    "plant_id": "mLYOrm0eQPGB"
  },
  {
    "plant_name": "ケーヨーデイツー姉崎店太陽光発電設備",
    "romaji_name": "Keiyo_deitsu_anesaki",
    "latitude": 35.4904,
    "longitude": 140.0447,
    "plant_id": "axmXQRm7W4lN"
  },
  {
    "plant_name": "根室市花咲港245",
    "romaji_name": "Nemuro_hanasaki",
    "latitude": 43.2946,
    "longitude": 145.5834,
    "plant_id": "D9bmW3VxEYqd"
  }
]

hatsuden = [
  {
    "plant_name": "根室市花咲港245",
    "romaji_name": "Nemuro_hanasaki",
    "latitude": 43.2946,
    "longitude": 145.5834,
    "plant_id": "D9bmW3VxEYqd"
  },
  {
    "plant_name": "ケーヨーデイツー姉崎店太陽光発電設備",
    "romaji_name": "Keiyo_deitsu_anesaki",
    "latitude": 35.4904,
    "longitude": 140.0447,
    "plant_id": "axmXQRm7W4lN"
  },
  {
    "plant_name": "ヨロズ大分 太陽光発電所",
    "romaji_name": "Yorozu_oita",
    "latitude": 33.60104,
    "longitude": 131.24122,
    "plant_id": "mLYOrm0eQPGB"
  },
  {
    "plant_name": "ロジスクエア枚方太陽光発電設備",
    "romaji_name": "Logisquare_hirakata",
    "latitude": 34.8102204,
    "longitude": 135.6825791,
    "plant_id": "gwe9r22drAJV"
  }
]

In [139]:
def euclidian_dist(lat1, lon1, lat2, lon2):
    return ((lat1 - lat2)**2 + (lon1 - lon2)**2) ** 0.5

def harvesine_dist(lat1, lon1, lat2, lon2):
    from math import radians, sin, cos, sqrt, atan2

    R = 6371.0  # Earth radius in kilometers

    dlat = radians(lat2 - lat1)
    dlon = radians(lon2 - lon1)

    a = sin(dlat / 2)**2 + cos(radians(lat1)) * cos(radians(lat2)) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c
    return distance

In [140]:
result = {}
for plant in hatsuden:
    plant_lat = plant["latitude"]
    plant_lon = plant["longitude"]
    temp["dist"] = temp.apply(lambda row: harvesine_dist(plant_lat, plant_lon, row["lat"], row["lon"]), axis=1)
    nearest = temp.loc[temp["dist"].idxmin()]
    result[plant["romaji_name"]] = (nearest['lat'], nearest['lon'])
    # result[plant["romaji_name"]] = (f"{nearest['area_name_romaji']}_{nearest['name_romaji']}", nearest['lat'], nearest['lon'])
    print(f"Hatsuden: {plant['romaji_name']} ({plant_lat}, {plant_lon})")
    print(f"Nearest Amedas Station: {nearest['name_romaji']} in {nearest['area_name_romaji']} ({nearest['lat']}, {nearest['lon']})")
    print(f"Distance: {nearest['dist']:.6f} degrees")
    print()

Hatsuden: Nemuro_hanasaki (43.2946, 145.5834)
Nearest Amedas Station: nemuro in nemuro_chihou (43.33, 145.585)
Distance: 3.938428 degrees

Hatsuden: Keiyo_deitsu_anesaki (35.4904, 140.0447)
Nearest Amedas Station: tokyo in tokyo_to (35.69166667, 139.75)
Distance: 34.798695 degrees

Hatsuden: Yorozu_oita (33.60104, 131.24122)
Nearest Amedas Station: shimonoseki in yamaguchi_ken (33.94833333, 130.925)
Distance: 48.430857 degrees

Hatsuden: Logisquare_hirakata (34.8102204, 135.6825791)
Nearest Amedas Station: nara in nara_ken (34.69333333, 135.8266667)
Distance: 18.499159 degrees

In [141]:
result

{'Nemuro_hanasaki': (np.float64(43.33), np.float64(145.585)),
 'Keiyo_deitsu_anesaki': (np.float64(35.69166667), np.float64(139.75)),
 'Yorozu_oita': (np.float64(33.94833333), np.float64(130.925)),
 'Logisquare_hirakata': (np.float64(34.69333333), np.float64(135.8266667))}

In [142]:
def filter_df_by_coordinates(df: pd.DataFrame, coordinates_dict: dict) -> pd.DataFrame:
    target_coords = list(coordinates_dict.values())

    combined_mask = pd.Series([False] * len(df), index=df.index)
    
    for lat, lon in target_coords:
        target_lat = float(lat)
        target_lon = float(lon)
        
        lat_mask = (df['lat'] == target_lat)
        lon_mask = (df['lon'] == target_lon)
        
        current_mask = lat_mask & lon_mask
        combined_mask = combined_mask | current_mask
        
    filtered_df = df[combined_mask]

    # filter for 2024 only
    filtered_df = filtered_df[filtered_df['timestamp'].dt.year == 2024]
    
    return filtered_df

filtered_data = filter_df_by_coordinates(df, result)
filtered_data.head(3)

,area_name_romaji,name_romaji,region,jma_id,timestamp,all_sky_solar_radiation,lat,lon
778366,nara_ken,nara,Kansai,6447780,2024-01-01 00:00:00,-777.0,34.693333,135.826667
778367,nara_ken,nara,Kansai,6447780,2024-01-01 01:00:00,-777.0,34.693333,135.826667
778368,nara_ken,nara,Kansai,6447780,2024-01-01 02:00:00,-777.0,34.693333,135.826667

In [143]:
t = filtered_data[['timestamp', 
               'area_name_romaji', 'name_romaji', 
               'lat', 'lon', 
               'all_sky_solar_radiation']]

t = t.rename(columns={
    'area_name_romaji': 'nearest_station_area_name_romaji',
    'name_romaji': 'nearest_station_name_romaji',
    'lat': 'nearest_station_lat',
    'lon': 'nearest_station_lon',
    'all_sky_solar_radiation': 'nearest_station_solar_radiation'    
})
t.head(5)

,timestamp,nearest_station_area_name_romaji,nearest_station_name_romaji,nearest_station_lat,nearest_station_lon,nearest_station_solar_radiation
778366,2024-01-01 00:00:00,nara_ken,nara,34.693333,135.826667,-777.0
778367,2024-01-01 01:00:00,nara_ken,nara,34.693333,135.826667,-777.0
778368,2024-01-01 02:00:00,nara_ken,nara,34.693333,135.826667,-777.0
778369,2024-01-01 03:00:00,nara_ken,nara,34.693333,135.826667,-777.0
778370,2024-01-01 04:00:00,nara_ken,nara,34.693333,135.826667,-777.0

In [144]:
import numpy as np

mapping = {'Nemuro_hanasaki': (np.float64(43.33), np.float64(145.585)),
 'Keiyo_deitsu_anesaki': (np.float64(35.69166667), np.float64(139.75)),
 'Yorozu_oita': (np.float64(33.94833333), np.float64(130.925)),
 'Logisquare_hirakata': (np.float64(34.69333333), np.float64(135.8266667))}

def add_nearest_station_data(row):
    lat = row['nearest_station_lat']
    lon = row['nearest_station_lon']
    for key, (mapped_lat, mapped_lon) in mapping.items():
        if lat == mapped_lat and lon == mapped_lon:
            return key
    return None

In [145]:
t['plant_romaji_name'] = t.apply(add_nearest_station_data, axis=1)
t['nearest_station_solar_radiation'] = t['nearest_station_solar_radiation'].replace(-777.0, 0.0)
t.head()

t['plant_romaji_name'].unique()

array(['Logisquare_hirakata', 'Yorozu_oita', 'Keiyo_deitsu_anesaki',
       'Nemuro_hanasaki'], dtype=object)

# Plot Func

In [146]:
%pip install matplotlib -qqU

Note: you may need to restart the kernel to use updated packages.

In [147]:
import matplotlib.pyplot as plt
import base64
import io
from datetime import datetime

def generate_html_report(df, data_columns, hatsuden, output_file='solar_report_v2.html'):
    """
    df: Pandas DataFrame containing the data
    data_columns: List of strings matching column names in df (e.g. ['Sensor_Real', 'Model_A'])
    """
    
    # Get standard Matplotlib colors for consistency
    colors = plt.rcParams['axes.prop_cycle'].by_key()['color']
    
    # Generate Legend HTML dynamically
    legend_html = ""
    for idx, col_name in enumerate(data_columns):
        color = colors[idx % len(colors)] # Cycle through colors if > 10 sources
        legend_html += f'<span class="badge" style="background:{color};">{col_name}</span>'

    # CSS Styling
    html_content = f"""
    <html>
    <head>
        <style>
            body {{ font-family: 'Segoe UI', sans-serif; background: #f4f4f9; padding: 20px; }}
            h1 {{ text-align: center; color: #333; }}
            .month-container {{ background: white; margin-bottom: 30px; padding: 10px; border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); }}
            .month-title {{ font-size: 1.5em; font-weight: bold; color: #444; margin-bottom: 10px; border-bottom: 2px solid #eee; padding-bottom: 5px; }}
            .chart-img {{ width: 100%; height: auto; display: block; }}
            .legend {{ text-align: center; margin-bottom: 20px; position: sticky; top: 0; background: #f4f4f9; padding: 10px; z-index: 100; }}
            .badge {{ display: inline-block; padding: 5px 10px; border-radius: 4px; color: white; margin: 0 5px; font-weight: bold; font-size: 0.9em; box-shadow: 0 1px 3px rgba(0,0,0,0.2);}}
        </style>
    </head>
    <body>
        <h1>Solar Radiation {hatsuden}</h1>
        <div class="legend">
            {legend_html}
        </div>
    """

    months = df.index.month.unique()
    
    # Calculate global Max Y for consistent scaling across all charts
    # We look at the max value across ALL requested columns
    global_max = df[data_columns].max().max() * 1.1

    print("Generating charts...")

    for month in months:
        month_name = datetime(2023, month, 1).strftime('%B')
        print(f"Processing {month_name}...")
        
        df_m = df[df.index.month == month]
        days_in_month = df_m.index.day.unique()
        
        # 2 Rows x 16 Cols Grid
        fig, axes = plt.subplots(2, 16, figsize=(24, 4), constrained_layout=True)
        axes = axes.flatten() 
        
        for i in range(32):
            ax = axes[i]
            day_num = i + 1
            
            if day_num in days_in_month:
                day_data = df_m[df_m.index.day == day_num]
                
                # --- DYNAMIC PLOTTING LOOP ---
                for idx, col_name in enumerate(data_columns):
                    # Get color (modulo ensures we don't crash if > 10 columns)
                    c = colors[idx % len(colors)]
                    
                    # Plot logic: Make the first column (usually 'Real') solid, others dashed/lighter?
                    # or just keep them all solid. Let's vary line style slightly.
                    linestyle = '-' if idx == 0 else '--' 
                    alpha = 1.0 if idx == 0 else 0.8
                    linewidth = 1.5 if idx == 0 else 1.2
                    
                    ax.plot(day_data.index.hour, day_data[col_name], 
                            color=c, label=col_name, linestyle=linestyle, alpha=alpha, linewidth=linewidth)
                
                # Subplot Styling
                ax.set_title(f"Day {day_num}", fontsize=8, pad=2)
                ax.set_ylim(0, global_max)
                ax.set_xlim(0, 23)
                ax.tick_params(axis='both', which='major', labelsize=6)
                ax.grid(True, alpha=0.3)
                
                ax.set_xlabel('') 
                ax.set_ylabel('')
                
                if i % 16 != 0:
                    ax.set_yticklabels([])
            else:
                ax.axis('off')

        # Save to Base64
        buf = io.BytesIO()
        plt.savefig(buf, format='png', dpi=100)
        plt.close(fig)
        buf.seek(0)
        img_base64 = base64.b64encode(buf.read()).decode('utf-8')
        
        html_content += f"""
        <div class="month-container">
            <div class="month-title">{month_name}</div>
            <img class="chart-img" src="data:image/png;base64,{img_base64}" />
        </div>
        """

    html_content += "</body></html>"

    with open(output_file, "w") as f:
        f.write(html_content)
    
    print(f"Success! Open '{output_file}' to view comparison.")

In [148]:
import pandas as pd
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from datetime import datetime
import os # Required for clean up if needed

def generate_html_report_plotly(df, data_columns, output_file='solar_report_plotly.html'):
    """
    df: Pandas DataFrame with DatetimeIndex containing the data
    data_columns: List of strings matching column names in df
    """
    
    # --- 1. Data Preparation Check ---
    if not isinstance(df.index, pd.DatetimeIndex):
        # Assuming the 'timestamp' column is what needs to be set as the index
        if 'timestamp' in df.columns:
            df['timestamp'] = pd.to_datetime(df['timestamp'])
            df = df.set_index('timestamp')
            print("Fixed: 'timestamp' column converted to DatetimeIndex.")
        else:
            print("Error: DataFrame must have a DatetimeIndex or a 'timestamp' column to set as index.")
            return

    # Calculate global Max Y for consistent scaling across all charts
    global_max = df[data_columns].max().max() * 1.1

    print("Generating interactive report with Plotly...")

    # --- 2. HTML Report Structure ---
    html_content = f"""
    <html>
    <head>
        <title>Solar Radiation Multi-Source Report (Plotly)</title>
        <style>
            body {{ font-family: 'Segoe UI', sans-serif; background: #f4f4f9; padding: 20px; }}
            h1 {{ text-align: center; color: #333; }}
            .month-title {{ font-size: 1.5em; font-weight: bold; color: #444; margin-top: 30px; margin-bottom: 10px; border-bottom: 2px solid #eee; padding-bottom: 5px; }}
            .month-container {{ background: white; margin-bottom: 30px; padding: 10px; border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); }}
        </style>
    </head>
    <body>
        <h1>Solar Radiation Multi-Source Report</h1>
    """
    
    months = df.index.month.unique()

    # --- 3. Iterating and Plotting ---
    for month in months:
        month_name = datetime(2023, month, 1).strftime('%B')
        print(f"Processing {month_name}...")
        
        df_m = df[df.index.month == month]
        days_in_month = df_m.index.day.unique()
        
        # Create a 2 Rows x 16 Cols Grid (Total 32 subplots)
        fig = make_subplots(
            rows=2, 
            cols=16,
            subplot_titles=[f"Day {i+1}" for i in range(32)],
            vertical_spacing=0.1,
            horizontal_spacing=0.03
        )
        
        plot_index = 1
        show_legend_once = True 
        
        for day_num in range(1, 33):
            row = (plot_index - 1) // 16 + 1
            col = (plot_index - 1) % 16 + 1

            if day_num in days_in_month:
                day_data = df_m[df_m.index.day == day_num]
                
                for idx, col_name in enumerate(data_columns):
                    
                    fig.add_trace(
                        go.Scatter(
                            x=day_data.index.hour, 
                            y=day_data[col_name],
                            mode='lines',
                            name=col_name,
                            line=dict(dash='solid' if idx == 0 else 'dash'),
                            showlegend=show_legend_once # Show legend only on the first plot
                        ),
                        row=row,
                        col=col
                    )
                
                show_legend_once = False # Ensure legend is hidden for subsequent plots
                
                # Update axes properties for the specific subplot
                fig.update_xaxes(title_text='Hour', range=[-0.5, 23.5], row=row, col=col, showgrid=True, automargin=True, dtick=12, tickfont=dict(size=8))
                fig.update_yaxes(title_text='', range=[0, global_max], row=row, col=col, showgrid=True, automargin=True, tickfont=dict(size=8),
                                 showticklabels=(col == 1)) # Only show Y-labels on the first column of charts
            else:
                # Set the title to blank for unused subplots
                fig.layout.annotations[(plot_index - 1)]['text'] = ""
                # Hide unused axes
                fig.update_xaxes(visible=False, row=row, col=col)
                fig.update_yaxes(visible=False, row=row, col=col)
                
            plot_index += 1

        # Final figure layout updates for the month
        fig.update_layout(
            height=700, 
            width=1800, 
            title_text=f"Hourly Comparison for {month_name}",
            title_x=0.5,
            legend_title_text='Data Sources',
            hovermode="x unified",
            margin=dict(t=50, b=50, l=50, r=50)
        )
        
        # Get the Plotly figure HTML content (using CDN for Plotly JS)
        chart_div_content = fig.to_html(full_html=False, include_plotlyjs='cdn')
        
        # Add the chart HTML to the main report content
        html_content += f"""
        <div class="month-container">
            <div class="month-title">{month_name}</div>
            {chart_div_content}
        </div>
        """
    
    html_content += "</body></html>"
    
    # --- 4. Final Output ---
    with open(output_file, "w") as f:
        f.write(html_content)
        
    print(f"Success! Open '{output_file}' to view comparison.")

In [149]:
def convert_mj_to_wm2(df):
    # Convert from MJ/m² to W/m²
    df_converted = df.copy()
    df_converted['nearest_station_solar_radiation'] = df_converted['nearest_station_solar_radiation'] * (1e6 / 3600)  # 1 MJ/m² = 1,000,000 J/m²; divide by 3600 seconds in an hour
    return df_converted

# JMA Data

In [150]:
jma_df = pd.read_csv("data/jma_msm_data_2024.csv")
jma_df = jma_df.rename(columns={
    'shortwave_solar_radiation': 'solar_radiation',
    'date': 'timestamp',
    'romaji_name': 'plant_romaji_name'
})
jma_df['timestamp'] = pd.to_datetime(jma_df['timestamp'])   
jma_df.head()

            timestamp  solar_radiation plant_name plant_romaji_name
0 2024-01-01 00:00:00              0.0  根室市花咲港245   Nemuro_hanasaki
1 2024-01-01 01:00:00              0.0  根室市花咲港245   Nemuro_hanasaki
2 2024-01-01 02:00:00              0.0  根室市花咲港245   Nemuro_hanasaki
3 2024-01-01 03:00:00              0.0  根室市花咲港245   Nemuro_hanasaki
4 2024-01-01 04:00:00              0.0  根室市花咲港245   Nemuro_hanasaki

In [151]:
compare_jma = pd.merge(
    t,
    jma_df,
    left_on=['timestamp', 'plant_romaji_name'],
    right_on=['timestamp', 'plant_romaji_name'],
    how='inner'
)

compare_jma = convert_mj_to_wm2(compare_jma)
compare_jma.set_index('timestamp', inplace=True)
compare_jma['plant_name'].unique()

array(['ロジスクエア枚方太陽光発電設備', 'ヨロズ大分 太陽光発電所', 'ケーヨーデイツー姉崎店太陽光発電設備',
       '根室市花咲港245'], dtype=object)

In [152]:
data_columns = ['nearest_station_solar_radiation', 'solar_radiation']

for plant_name in compare_jma['plant_romaji_name'].unique():
    print(f"Generating report for plant: {plant_name}")
    plant_data = compare_jma[compare_jma['plant_romaji_name'] == plant_name]
    generate_html_report(plant_data, data_columns, hatsuden=plant_name, output_file=f'solar_report_jma_{plant_name}.html')
    # generate_html_report_plotly(plant_data, data_columns, output_file=f'solar_report_plotly_jma_{plant_name}.html')

Generating report for plant: Logisquare_hirakata
Generating charts...
Processing January...
Processing February...
Processing March...
Processing April...
Processing May...
Processing June...
Processing July...
Processing August...
Processing September...
Processing October...
Processing November...
Processing December...
Success! Open 'solar_report_jma_Logisquare_hirakata.html' to view comparison.
Generating report for plant: Yorozu_oita
Generating charts...
Processing January...
Processing February...
Processing March...
Processing April...
Processing May...
Processing June...
Processing July...
Processing August...
Processing September...
Processing October...
Processing November...
Processing December...
Success! Open 'solar_report_jma_Yorozu_oita.html' to view comparison.
Generating report for plant: Keiyo_deitsu_anesaki
Generating charts...
Processing January...
Processing February...
Processing March...
Processing April...
Processing May...
Processing June...
Processing July...
Processing August...
Processing September...
Processing October...
Processing November...
Processing December...
Success! Open 'solar_report_jma_Keiyo_deitsu_anesaki.html' to view comparison.
Generating report for plant: Nemuro_hanasaki
Generating charts...
Processing January...
Processing February...
Processing March...
Processing April...
Processing May...
Processing June...
Processing July...
Processing August...
Processing September...
Processing October...
Processing November...
Processing December...
Success! Open 'solar_report_jma_Nemuro_hanasaki.html' to view comparison.

# ECMWF Data

In [153]:
ecmwf_df = pd.read_csv("data/ecmwf_ifs_data_2024.csv")
ecmwf_df = ecmwf_df.rename(columns={
    'shortwave_solar_radiation': 'solar_radiation',
    'date': 'timestamp',
    'romaji_name': 'plant_romaji_name'
})
ecmwf_df['timestamp'] = pd.to_datetime(ecmwf_df['timestamp'])   
ecmwf_df.head()

            timestamp  solar_radiation plant_name plant_romaji_name
0 2024-01-01 00:00:00              0.0  根室市花咲港245   Nemuro_hanasaki
1 2024-01-01 01:00:00              0.0  根室市花咲港245   Nemuro_hanasaki
2 2024-01-01 02:00:00              0.0  根室市花咲港245   Nemuro_hanasaki
3 2024-01-01 03:00:00              0.0  根室市花咲港245   Nemuro_hanasaki
4 2024-01-01 04:00:00              0.0  根室市花咲港245   Nemuro_hanasaki

In [154]:
compare_ecmwf = pd.merge(
    t,
    ecmwf_df,
    left_on=['timestamp', 'plant_romaji_name'],
    right_on=['timestamp', 'plant_romaji_name'],
    how='inner'
)
compare_ecmwf = convert_mj_to_wm2(compare_ecmwf)
compare_ecmwf.set_index('timestamp', inplace=True)
compare_ecmwf.sample(5)

compare_ecmwf.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35136 entries, 2024-01-01 00:00:00 to 2024-12-31 23:00:00
Data columns (total 8 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   nearest_station_area_name_romaji  35136 non-null  object
 1   nearest_station_name_romaji       35136 non-null  object
 2   nearest_station_lat               35136 non-null  float64
 3   nearest_station_lon               35136 non-null  float64
 4   nearest_station_solar_radiation   35085 non-null  float64
 5   plant_romaji_name                 35136 non-null  object
 6   solar_radiation                   35136 non-null  float64
 7   plant_name                        35136 non-null  object
dtypes: float64(4), object(4)
memory usage: 2.4+ MB

In [156]:
data_columns = ['nearest_station_solar_radiation', 'solar_radiation']

for plant_name in compare_ecmwf['plant_romaji_name'].unique():
    print(f"Generating report for plant: {plant_name}")
    plant_data = compare_ecmwf[compare_ecmwf['plant_romaji_name'] == plant_name]
    generate_html_report(plant_data, data_columns, hatsuden=plant_name, output_file=f'solar_report_ecmf_{plant_name}.html')
    # generate_html_report_plotly(plant_data, data_columns, output_file=f'solar_report_plotly_ecmf_{plant_name}.html')

Generating report for plant: Logisquare_hirakata
Generating charts...
Processing January...
Processing February...
Processing March...
Processing April...
Processing May...
Processing June...
Processing July...
Processing August...
Processing September...
Processing October...
Processing November...
Processing December...
Success! Open 'solar_report_ecmf_Logisquare_hirakata.html' to view comparison.
Generating report for plant: Yorozu_oita
Generating charts...
Processing January...
Processing February...
Processing March...
Processing April...
Processing May...
Processing June...
Processing July...
Processing August...
Processing September...
Processing October...
Processing November...
Processing December...
Success! Open 'solar_report_ecmf_Yorozu_oita.html' to view comparison.
Generating report for plant: Keiyo_deitsu_anesaki
Generating charts...
Processing January...
Processing February...
Processing March...
Processing April...
Processing May...
Processing June...
Processing July...
Processing August...
Processing September...
Processing October...
Processing November...
Processing December...
Success! Open 'solar_report_ecmf_Keiyo_deitsu_anesaki.html' to view comparison.
Generating report for plant: Nemuro_hanasaki
Generating charts...
Processing January...
Processing February...
Processing March...
Processing April...
Processing May...
Processing June...
Processing July...
Processing August...
Processing September...
Processing October...
Processing November...
Processing December...
Success! Open 'solar_report_ecmf_Nemuro_hanasaki.html' to view comparison.